.app{
  display: flex;
  width: 100%;
  height: 100%;
}
.games{
  flex: 1 1;
  background-color: #cfcfcf;
  overflow-y: auto;
  height: 100%;
  padding: 0 20px;
}
.main{
  flex: 3 3;
}
.games-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.games-list__game-clickable{
  width: 100%;
  text-decoration: none;
}
.games-list__game-item:not(:last-child){
  border-bottom: 1px dashed white;
  margin-bottom: 10px;
  padding: 2px;
}
.games-list__game-item--active{
  background: white;
}
.streams-list{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px;
}
