*{
  box-sizing: border-box;
}
.sheet{
  display: flex;
}
.games{
  flex: 1;
  background-color: #cfcfcf;
}
main{
  flex: 4;
}
.streams{
  position: fixed;
}
.games-list{
  list-style: none;
  padding: 0 20px;
}
.games-list .game-item:not(:last-child){
  border-bottom: 1px dashed white;
  margin-bottom: 10px;
  padding: 2px;
}
.streams-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px;
}
