.game{
  cursor: pointer;
  padding: 2px;
}
.game__details{
  display: flex;
  flex-direction: row;
  margin: 0;
}
.game__picture{
  width: 50px;
  height: auto;
}
.game__title{
  padding-left: 10px;
  font: 16px 'Source Sans Pro', sans-serif;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.game__viewers-count{
  font: 12px 'Source Sans Pro', sans-serif;
  color: white;
}
.games-list__game-item--active .game__title,
.games-list__game-item--active .game__viewers-count{
  color: gray;
}
