.game-button{
  width: 100%;
  text-decoration: none;
  background-color: transparent;
  border: none;
}
.game{
  cursor: pointer;
}
.game-item_active{
  background: white;
}
.game-details{
  display: flex;
  flex-direction: row;
  margin: 0;
}
.game-details__picture{
  width: 50px;
  height: auto;
}
.game-details__title{
  padding-left: 10px;
  font: 16px 'Source Sans Pro', sans-serif;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.game__viewers-count{
  font: 12px 'Source Sans Pro', sans-serif;
  color: white;
}
.game-item_active .game-details__title,
.game-item_active .game__viewers-count{
  color: gray;
}
