.sheet{
  display: flex;
}
.games{
  width: 20%;
  background-color: #cfcfcf;
}
.streams{
  width: 80%;
  position: fixed;
  left: 20%;
}
.games-list{
  list-style: none;
  padding: 0 20px;
}
.games-list .game-item:not(:last-child){
  border-bottom: 1px dashed white;
  margin-bottom: 10px;
  padding: 2px;
}
.streams-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px;
}
